* {
  margin: 0;
}

.App {
  /* text-align: center; */
}

#logo-baner {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding: 5px;
}

.baner {
  background-color: #a15927;
  overflow: hidden;
}

.baner a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.baner a:hover {
  background-color: gray;
}


.container {
  background-color: gray;
}

.navbar {
  
}

